.login {
  width: 50%;
  margin: 0 auto;
  form {
    margin-top: 20%;
  }
}
.fly-out {
  animation: fly-out 0.3s ease-in-out forwards;
}

@keyframes fly-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
