.create {
  margin: 0 auto;
  width: 55%;

  form {
    margin-top: 10%;
    .product-image {
      max-width: 200px;
      display: flex;
      flex-flow: column;

      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
